/*
Theme Name: tomishige
Theme URL: tomishige
Description: tomishigeテーマです。
Author: Daisuke Yano
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://arrowscode.work/
*/

/* rule */


/*@font-face {
	font-family: 'Noto Serif Japanese';
	font-style: normal;
	font-weight: 200;
	src: url(fonts/fonts.otf) format('opentype'),
    url(fonts/fonts.woff)  format('woff');
}
@font-face {
	font-family: 'Gabriola';
	font-style: normal;
	font-weight: normal;
	src: local('Gabriola'), url(fonts/gabriola.woff) format('woff');
}*/
a {
	text-decoration: none;
	color: #333;
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}
a:hover {
	opacity: 0.8;
}
html {
	// 10px .
	font-size: 62.5%;
}
body {
	font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.6;
	color: rgb(49,34,26);
}
h1,h2,h3,h4 {
	font-weight: normal;
}
h1 {
	font-size: 1.8rem;
}
h2 {
	font-size: 1.6rem;
}
h3 {
	font-size: 1.4rem;
}
h4 {
	font-size: 1.2rem;
}
img {
	width: 100%;
	display: block;
}

.en {
	font-family: 'Roboto', sans-serif;
}
.center {
	text-align: center;
}
.pc-s {
	display: none;
}
.sp-s {
	display: block;
}
.ttl01 {
	position: relative;
	margin: 0 5%;
	font-size: calc(3vw + 11px);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: calc(1.1vw - 2.7px);
    &__txt {
    	position: relative;
    	z-index: 10;
    	background: #ffffff;
    	padding: 0 1rem;
    }
    &::after {
    	position: absolute;
    	content: "";
    	border: 1px solid #000000;
    	width: 100%;
    	top: 50%;
    	left: 0;
    	z-index: 1;
    }
}
.txt01 {
	font-size: calc(1.9vw + 6.88px);
    line-height: 3.38;
    letter-spacing: 0.45rem;
    word-break: break-all;
}
.btn__inner {
	width: 50%;
	margin: auto;
}
.morebtn {
	width: 50%;
	margin: -5% auto 0;
	background: url(img/parts/more.png) no-repeat top center;
	text-align: center;
	&__link {
		display: block;
		font-size: calc(2.4vw + 8.4px);
		line-height: 3.45;
		letter-spacing: calc(1.3vw + 4.8px);
		color: #ffffff;		
	}
}

/* 0 rule */

#container {
	position: relative;
	overflow: hidden;
}

/* 1 header */


.header {
	position: relative;
	background: #888888;
	width: 100%;
	height: 100%;
	&__logo {
		position: absolute;
		top: 6.6%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1000;
		width: 21.8%;
	}
	&__scroll {
		position: absolute;
		left: 50%;
		bottom: 10.5%;
		z-index: 20;
		transform: translateX(-50%);
		width: 11.4%;
	}
}
.nav {
	position: absolute;
	top: 0;
    left: 0%;
    width: 100%;
    height: auto;
	&__btn {
		position: absolute;
		top: 13%;
		z-index: 20;
		cursor: pointer;
		&.left__nav--open {
			left: 10%;
			width: 16.8%;
		}
		&.right__nav--open {
			right: 10%;
			width: 18.4%;
		}
		&.left__nav--close {
			left: -91%;
			&.c-open {
				left: 9%;
			}
		}
		&.right__nav--close {
			right: -91%;
			&.c-open {
				right: 9%;
			}
		}
		&.left__nav--close,&.right__nav--close {
			width: 20.0%;
			transition: all .6s;
			z-index: 300;
		}
	}
	&__box {
		position: absolute;
		top: 0;
		background: #00000080;
		width: 100%;
		height: auto;
		transition: all .6s;
		z-index: 200;
		overflow-y: auto;
	}
	&__area {
	    min-height: 100vh;
		padding: 46.5% 0 0;
	}
	&__list {
		padding: 4% 0 7.5%;
		text-align: center;
	}
	&__link {
		font-size: calc(1.5vw + 1rem);
		color: #fff;
	}
}
.left__nav--box {
	left: -100%;
	&.open {
		left: 0;
	}
}
.right__nav--box {
	right: -100%;
	&.open {
		right: 0;
	}
}


/* 2 contents01 */

#contents01 {
	background: #cee8e6;
}
.contents01 {
	&__kv {
		padding: 34.7% 0 36.2%;
	}
	&__catch {
	    width: 47.6%;
	    padding: 0 0 29%;
	    margin: auto;
	}
	&__ttl {
		.ttl01__txt {
			background: #cee8e6;
		}
	}
	&__area {
		position: relative;
		background: #ffffff;
		padding: 32% 0 38.2%;
	}
	&__img {
		position: absolute;
	    top: 0;
	    left: 50%;
	    transform: translate(-50%, -50%);
		width: 78%;
		margin: auto;
	}
	&__subttl {
		padding: 0% 0 14% 3%;
	    text-align: center;
	    font-size: calc(4.5vw + 6.1px);
	    letter-spacing: 3px;
	    &__counts {
			padding: 0 0 0 1%;
		    font-size: calc(7.8vw + 28px);
		    letter-spacing: 1px;
		}
	}
	&__txt {
	    padding: 0 10%;
	    .en {
	    	letter-spacing: 3px;
	    }
	}
}


/* 3 contents02 */

.contents02 {
	&__area {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto auto auto auto auto auto auto;
		padding: 21% 5% 54%;
	}
	&__img {
		&--box01 {
			grid-row-start: 1;
			grid-row-end: 2;
			grid-column-start: 1;
			grid-column-end: -1;
		}
		&--box02 {
			grid-row-start: 2;
			grid-row-end: 3;
			grid-column-start: 1;
			grid-column-end: -2;
		}
		&--box03 {
			grid-row-start: 3;
			grid-row-end: 4;
			grid-column-start: 1;
			grid-column-end: -2;
		}
		&--box04 {
			grid-row-start: 2;
			grid-row-end: 4;
			grid-column-start: 2;
			grid-column-end: -1;
		}
		&--box05 {
			grid-row-start: 4;
			grid-row-end: 5;
			grid-column-start: 1;
			grid-column-end: -2;
		}
		&--box06 {
			grid-row-start: 4;
			grid-row-end: 5;
			grid-column-start: 2;
			grid-column-end: -1;
		}
		&--box07 {
			grid-row-start: 5;
			grid-row-end: 6;
			grid-column-start: 1;
			grid-column-end: -2;
		}
		&--box08 {
			grid-row-start: 5;
			grid-row-end: 6;
			grid-column-start: 2;
			grid-column-end: -1;
		}
		&--box09 {
			grid-row-start: 6;
			grid-row-end: 7;
			grid-column-start: 1;
			grid-column-end: -1;
		}
		&--box10 {
		    grid-row-start: 7;
		    grid-row-end: 9;
		    grid-column-start: 1;
		    grid-column-end: -2;
		}
		&--box11 {
		    grid-row-start: 7;
		    grid-row-end: 8;
		    grid-column-start: 2;
		    grid-column-end: -1;
		}
		&--box12 {
		    grid-row-start: 8;
		    grid-row-end: 9;
		    grid-column-start: 2;
		    grid-column-end: -1;
		}
		&--box13 {
			grid-row-start: 9;
			grid-row-end: 10;
			grid-column-start: 1;
			grid-column-end: -1;
		}
	}
}

/* 4 contents03 */

#contents03 {
	padding: 0 0 50.2%;
}
.contents03 {
	&__kv {
		padding: 19.5% 0 14.2%;
	}
	&__catch {
	    width: 61.8%;
    	margin: auto;	
	}
	&__area {
		background: #f2f5d9;
		margin: 0 5%;
	}
	&__txt {
	    padding: 14% 5% 22%;
	    .en {
	    	letter-spacing: 3px;
	    }
	}
}

/* 5 contents04 */

#contents04 {
	
}
.swiper {
	&02 {
		padding: 7.5% 0;
		&__box {
			position: relative;
			margin: 10% 10% calc(27.8% + 100px);
			&--img {
				padding: 0 0 0 12.5%;
			}
			&--info {
				position: absolute;
				top: 14%;
			    left: 0;
			    z-index: -1;
			    background: #f3e3e3;
			    width: 87.5%;
			    padding: 81.5% 5% 5% 12%;
			}
			&--ymd {
				padding: 0 0 21%;
				font-size: calc(2.4vw + 8.4px);
				letter-spacing: calc(0.4vw + 1.6px);
			}
			&--link {
				position: relative;
			    padding: 0 3.3% 0 0;
			    text-align: right;
			    font-size: calc(1.9vw + 6.9px);
			    letter-spacing: calc(0.4vw + 1.6px);
			}
			&--arrows {
				display: inline-block;
				transform: rotate(90deg);
				font-size: calc(1.2vw + 6.9px);
			}
		}
	}
	&-arrows02 {
		position: relative;
		width: 100%;
		&::after {
			position: absolute;
			top: 50%;
			left: 50%;
			content: "";
			width: 14%;
			border-bottom: 1px solid #000;
			transform: translate(-50%, 0) rotate(-60deg);
		}
	}
}
.contents04 {
	&__area {
		position: relative;
		padding: 23.4% 0 31.2%;
	}
}


/* 6 contents05 */


#contents05 {
	padding: 0 0 50%;
}
.contents05 {
	&__ttl {
		.ttl01__txt {
			padding: 0.1px;
		}
	}
	&__insta {
		padding: 28% 0;
		text-align: center;
		&--icon {
			width: 6%;
			margin: 0 auto 3.5%;
		}
		&--name {
			font-size: calc(2.4vw + 8.5px);
			text-align: center;
		}
	}
}


/* 7 footer */


.footer {
	background: #000000;
	padding: 32% 0 5%;
	&__logo {
		width: 15.8%;
		margin: auto;
	}
	&__nav {
		position: relative;
		padding: 15.5% 0 17%;
		&--list {
			padding: 4% 0 10.7%;
			font-size: calc(2.4vw + 8.5px);
			letter-spacing: calc(0.4vw + 1.6px);
		}
		&::after {
			position: absolute;
			content: "";
			border: 1px solid #ffffff;
			width: 70%;
			bottom: 0;
			left: 15%;
			z-index: 1;
		}
	}
	&__info {
		padding: 17.5% 0 21%;
		&--box {
			display: flex;
			align-items: center;
			padding: 0 15% 6%;
		}
		&--icon {
			width: 5.71%;
		}
		&--list {
			padding: 0 0 0 8%;
		}
		&--link {
			font-size: calc(1.8vw + 6.35px);
			letter-spacing: calc(0.3vw + 1.0px);
			color: #ffffff;
		}
	}
	&__cr {
		display: block;
		font-style: italic;
	    font-family: Times;
	    font-size: calc(1.5vw + 5.3px);
	    text-align: center;
	    color: #ffffff;
	}
}

/* 50 swiper */

.swiper-btn {
	display: none;
}
.swiper-button-prev01,
.swiper-button-next01 {
	position: absolute;
	top: 468px;
    width: 86px;
    height: 86px;
    border: 0px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    z-index: 999;
    outline: none;
}
.swiper-button-prev01 {
    right: 194px;
}
.swiper-button-next01 {
    left: 194px;
    transform: rotate(-135deg);
}
.swiper-button-prev02,
.swiper-button-next02 {
	position: absolute;
    top: -16px;
	z-index: 10;
	font-size: calc(2.2vw + 7.9px);
	box-shadow: none;
	outline: none;
}
.swiper-button-prev02 {
	left: 22%;
	transform:rotate(-90deg);
}
.swiper-button-next02 {
	right: 22%;
	transform:rotate(90deg);
}
.swiper-button-prev01.swiper-button-disabled,
.swiper-button-next01.swiper-button-disabled,
.swiper-button-prev02.swiper-button-disabled,
.swiper-button-next02.swiper-button-disabled {
	opacity: 0.35;
	cursor: auto;
	pointer-events: none;
}
.swiper01 .swiper-slide {
	position: relative;
	&::after {
		position: absolute;
		top: 0;
		left: -50%;
		z-index: 1;
		content: "";
		background: #00000080;
		width: 200%;
		height: 100%;
	}
}
#cmphoto .swiper01 .swiper-slide::after {
    background: #00000000;
}


/* 10 common */

.common {
	.header {
	  	background: #ffffff;
	  	padding: 78% 0 0;
	  }
	.intro {
	  	&__ttl {
	  		font-size: 5vw;
	  		text-align: center;
		}
		&__txt {
		  	padding: 11.2% 11.8%;
			font-size: 2.6vw;
			line-height: 2.5;
		}
	  }
}


/* 010 cmphoto */


#cmphoto {
  .kv {
	&__ttl {
		padding: 11.4% 13.7% 25.8% 14.5%
	}
  }
  .intro {

  	&__ttl {
  		font-size: 5vw;
  		text-align: center;
	}
	&__txt {
	  	padding: 11.2% 11.8%;
		font-size: 2.6vw;
		line-height: 2.5;
	}
  }
  .cmphoto {
  	position: relative;
  	padding: 0 10%;
  	margin: 0 0 36%;
  	&:after {
  		content: "";
  		position: absolute;
  		top: 0;
  		left: 13%;
  		border-left: 1px solid #000;
  		height: 100%;
  		z-index: -1;
  	}
  	&__area {
  		padding: 0 0 22%;
  		&--ttl {
  			background: #ffffff;
  			padding: 3.6% 1%;
  			font-size: calc(3vw + 11px);
  		}
  		&--img {
  			padding: 0 11.11%;
  		}
  		&--txt {
  			padding: 0 11.11% 4.4%;
  			font-size: calc(1.9vw + 6.88px);
  			line-height: 2;
  		}
  	}
  	.btn__wrap {
  		position: relative;
  		.morebtn {
  			position: absolute;
  			right: 0;
  			width: 62.5%;
  		}
  	}
  	&__outrotxt {
  			background: #ffffff;
  			padding: 3.6% 1%;
  			font-size: calc(3vw + 11px);
  			line-height: 2;
  		}
  }
}



/* 011 access */


#access {
  .kv {
	&__ttl {
		padding: 17.5% 32.8% 26.8% 31.8%;
	}
  }
  .access {
  	&__wrap {
  		margin: 0 0 20%;
  	}
  }
}



/* 020 contact */


#contact {
  .contact {
  	margin: 0 0 49.6%;
	&__ttl {
		padding: 20% 26% 8.6%% 27.6%;
	}
	&__txt {
	    width: 74%;
	    margin: 0 auto 10%;
	    font-size: calc(1.9vw + 6.88px);
	    text-align: center;
	    letter-spacing: 2px;
	    line-height: 1.8;
	}
  }
}


@media only screen
and (orientation:landscape) {
html {
	font-size: 100%;
}
}

@media screen and (min-width: 1280px) {


/* 0 rule */

.ttl01 {
	position: relative;
	width: 800px;
	margin: 0 auto;
    font-size: 28px;
    letter-spacing: 6px;
    &__txt {
    	position: relative;
    	z-index: 10;
    	background: #ffffff;
    	padding: 0 1rem;
    }
    &::after {
    	position: absolute;
    	content: "";
    	border: 1px solid #000000;
    	width: 100%;
    	top: 50%;
    	left: 0;
    	z-index: 1;
    }
}
.txt01 {
	font-size: 18px;
    line-height: 3.9;
    letter-spacing: 5.2px;
    word-break: break-all;
}
.btn__wrap {
	position: relative;
	width: 1500px;
	margin: auto;
}
.btn__inner {
	width: 350px;
}
.morebtn {
	position: absolute;
	top: -40px;
	right: 200px;
	width: 350px;
	margin: 0 auto;
	background-size: 350px;
	text-align: center;
	&__link {
		display: block;
		background: url(img/parts/more.png) no-repeat;
		margin: 0;
		font-size: 20px;
		line-height: 4;
		letter-spacing: 10px;
		color: #ffffff;		
	}
}

.pc-s {
	display: block;
}
.sp-s {
	display: none;
}


/* 1 header */


.header {
	&__logo {
	    top: 82px;
	    width: 136px;
	}
	&__btns {
		position: absolute;
		top: 0;
		left: 50%;
		z-index: 250;
		transform: translateX(-50%);
		width: 1000px;
		margin: auto;
	}
	&__scroll {
		position: absolute;
	    top: 890px;
	    bottom: 0;
		left: 50%;
	    z-index: 260;
	    transform: translateX(-50%);
	    width: 74px;
	}
}
.nav {
	&__btn {
		position: absolute;
		top: 148px;
		z-index: 10;
		cursor: pointer;
		&.left__nav--open {
			left: 230px;
			width: 104px;
		}
		&.right__nav--open {
			right: 230px;
			width: 104px;
		}
		&.left__nav--close,&.right__nav--close {
			opacity: 0;
			top: -148px;
			width: 150px;
			height: 20px;
			cursor: initial;
			&.c-open {
				top: 148px;
			}
		}
		&.left__nav--close {
			left: 230px;
			&.c-open {
				left: 230px;
			}
		}
		&.right__nav--close {
			right: 230px;
			&.c-open {
				right: 230px;
			}
		}
	}
	&__box {
		background: #00000000;
	}
	&__area {
	    display: flex;
	    justify-content: space-around;
    	width: 1280px;
	    height: auto;
	    min-height: auto;
	    margin: auto;
	    padding: 0;
	}
	&__list {
		padding: 0;
		text-align: center;
	}
	&__link {
		font-size: 20px;
		color: #fff;
	}
}
.left__nav--box,.right__nav--box {
	top: -300px;
	&.open {
		top: 300px;
	}
}
.left__nav--box {
	left: 0;
	&.open {
		left: 0;
	}
}
.right__nav--box {
	right: 0;
	&.open {
		right: 0;
	}
}




/* 2 contents01 */


#contents01 {

}
.contents01 {
	&__kv {
		width: 1500px;
		padding: 266px 0 310px;
    	margin: auto;
	}
	&__catch {
	    width: 440px;
	    padding: 0 0 164px;
	    margin: auto;
	}
	&__wrap {
		background: #ffffff;
	}
	&__area {
		width: 1500px;
		padding: 0 0 325px;
		margin: auto;
	}
	&__img {
		width: 750px;
		top: -250px;
		left: 0;
		transform: none;
	}
	&__subttl {
		position: absolute;
	    left: 815px;
	    top: -140px;
	    padding: 0;
	    text-align: center;
	    font-size: 40px;
	    letter-spacing: 3px;
		&__counts {
		    padding: 0 0 0 32px;
		    font-size: 70px;
		    letter-spacing: 7px;
		}
	}
	&__txt {
		padding: 50px 0 0 824px;
		.en {
			letter-spacing: 5px;
		}
	}
}


/* 3 contents02 */


.contents02 {
	&__area {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
		padding: 136px 0 306px;
	}
	&__img {
		&--box01 {
			grid-row: span 2;
			grid-column: span 2;
		}
		&--box02 {
			grid-row-start: 1;
			grid-row-end: 2;
			grid-column-start: 3;
			grid-column-end: -4;
		}
		&--box03 {
			grid-row-start: 2;
			grid-row-end: 3;
			grid-column-start: 3;
			grid-column-end: -4;
		}
		&--box04 {
			grid-row: span 2;
			grid-column-start: 4;
			grid-column-end: -3;
		}
		&--box05 {
		    grid-row-start: 1;
		    grid-row-end: 2;
		    grid-column-start: 5;
		    grid-column-end: -2;
		}
		&--box06 {
			grid-row-start: 1;
			grid-row-end: 2;
			grid-column-start: 6;
			grid-column-end: -1;
		}
		&--box07 {
		    grid-row-start: 2;
		    grid-row-end: 3;
		    grid-column-start: 5;
		    grid-column-end: -2;
		}
		&--box08 {
		    grid-row-start: 2;
		    grid-row-end: 3;
		    grid-column-start: 6;
		    grid-column-end: -1;
		}
		&--box09 {
			grid-row: span 2;
			grid-column: span 2;
		}
		&--box10 {
		    grid-row: span 2;
		    grid-column-start: 3;
		    grid-column-end: -4;
		}
		&--box11 {
			grid-row-start: 3;
			grid-row-end: 4;
			grid-column-start: 4;
			grid-column-end: -3;
		}
		&--box12 {
		    grid-row-start: 4;
    		grid-row-end: 5;
		    grid-column-start: 4;
		    grid-column-end: -3;
		}
		&--box13 {
			grid-row: span 2;
			grid-column: span 2;
		}
	}
}


/* 4 contents03 */


#contents03 {
    padding: 0 0 370px;
}
.contents03 {
	&__kv {
	    padding: 58px 0 294px;
	}
	&__catch {
    	width: 466px;
    }
    &__wrap {
    	background: #f2f5d9;
    	width: 100%;
    }
    &__area {
    	position: relative;
    	width: 1500px;
    	margin: auto;
    }
    &__img {
		position: absolute;
		width: 750px;
		top: -192px;
    }
    &__txt {
    	padding: 152px 0 173px 812px;
    }
}


/* 5 contents04 */


.contents04 {
	&__area {
		padding: 0 0 38px;
		width: 664px;
		margin: auto;
		.morebtn {
			top: -43px;
			right: 157px;
		}
	}
}


/* 6 contents05 */


#contents05 {
	padding: 0 0 400px;
}
.contents05 {

	&__ttl {
		display: none;
	}
	&__insta {
		padding: 394px 0 0;
		&--icon {
			width: 38px;
    		margin: 0 auto 20px;
		}
		&--name {
			font-size: 20px;
		    text-align: center;
		    letter-spacing: 3px;
		}
	}
	&__area {
		.morebtn {
			position: relative;
			top: 100px;
			left: 0;
			right: 0;
		}
	}
}


/* 7 footer */


.footer {
	padding: 186px 0 0;
	&__logo {
		width: 112px;
	}
	&__nav {
		position: relative;
		display: flex;
		justify-content: space-evenly;
	    width: 100%;
	    padding: 160px 196px;
	    &::after {
	    	display: none;
	    }
	    &--list {
	    	font-size: 20px;
    		letter-spacing: 4px;
	    }
	}
	&__info {
		display: flex;
		justify-content: flex-start;
		width: 1000px;
		padding: 36px 0 53px 69px;
		margin: auto;
		&--box {
			padding: 0;
			&:first-child {
				width: 294px;
			}
		}
		&--icon {
			width: 26px;
		}
    	&--link {
    		font-size: 16px;
    		letter-spacing: 3px;
    	}
    	&--list {
    		padding: 0 0 0 40px;
    	}
	}
	&__cr {
		font-size: 14px;
	}
}



/* 50 swiper */

.swiper-btn {
	display: block;
}
.header {
	.swiper-wrapper {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		max-width: 1200px;
	}
	.swiper-container {
		width: 100%;
		height: 100%;
		overflow: visible!important;
		z-index: 1;
	}
}
.swiper02 {
	height: 869px;
	padding: 71px 0 0;
	&__box {
		margin: 0 0 0;
		&--img {
			width: 400px;
			padding: 68px 0 0 50px;
			margin: auto;
		}
		&--info {
			position: relative;
			top: -300px;
			left: -24px;
			width: 350px;
			padding: 320px 30px 26px 50px;
			margin: auto;
		}
		&--ymd {
		    padding: 0 0 50px;
		    font-size: 20px;
		    letter-spacing: 2.5px;
		}
		&--link {
		    padding: 0 0 0 0;
		    text-align: right;
		    font-size: 14px;
		    letter-spacing: 2px;
		}
		&--arrows {
			font-size: 12px;
		}
	} 
}
.swiper {
	&-button-prev,
	&-button-next {
		fill: #fff;
		stroke: none;
		stroke-width: 0;
		z-index: 10000;
		width: 20px;
		margin-top: -18px;
		background-image: none;
	}
	&-button-prev02,
	&-button-next02 {
		top: -18px;
	    font-size: 20px;
	}
	&-button-next02 {
		right: 0;
	}
	&-button-prev02 {
		left: 0;
	}
	&-arrows02 {
		width: 664px;
		margin: auto;
		&::after {
			display: none;
		}
	}
}
.swiper-pagination-bullet-active {
  background: #fff;
}

/* 10 common */

.common {
	.header {
	  	background: #ffffff;
	  	padding: 328px 0 0;
	  }
	  .kv {
		&__ttl {
			width: 560px;
			padding: 0;
	    	margin: 200px auto 156px;
		}
	  }
	.intro {
	  	&__ttl {
	  		font-size: 28px;
		}
		&__txt {
			width: 800px;
		  	padding: 50px 0 0;
		  	margin: auto;
			font-size: 16px;
			line-height: 2.5;
		}
	}
}

/* 010 cmphoto */


#cmphoto {
  .header {
  	background: #ffffff;
  	padding: 328px 0 0;
  }
  .kv {
	&__ttl {
		width: 560px;
		padding: 0;
    	margin: 200px auto 156px;
	}
  }
  .intro {
  	padding: 0 0 240px;
  	&__ttl {
  		font-size: 28px;
	}
	&__txt {
		width: 800px;
	  	padding: 50px 0 0;
	  	margin: auto;
		font-size: 16px;
		line-height: 2.5;
	}
  }
  .cmphoto {
  	position: relative;
  	width: 980px;
  	padding: 0;
  	margin: 0 auto;
  	&:after {
  		content: "";
  		position: absolute;
  		top: 0;
  		left: 38px;
  		border-left: 1px solid #000;
  		height: 100%;
  		z-index: -1;
  	}
  	&__area {
  		position: relative;
  		padding: 0 0 88px;
  		&--ttl {
  			padding: 13px 0;
  			font-size: 26px;
  		}
  		&--img {
  			width: 538px;
    		padding: 0 0 0 120px;
  		}
  		&--txt {
  			position: absolute;
		    right: 0;
		    top: 70px;
		    width: 380px;
		    font-size: 16px;
		    padding: 0;
		    letter-spacing: 3px;
  		}
  	}
  	.btn__wrap {
  		position: relative;
  		width: 980px;
  		.morebtn {
  			position: absolute;
		    right: 32px;
		    top: -252px;
		    width: 348px;
  		}
  	}
  	&__outrotxt {
  			padding: 40px 0;
  			font-size: 26px;
  		}
  }
}

/* 011 access */


#access {
  .kv {
	&__ttl {
		width: 274px;
		padding: 0;
	}
  }
  .intro {
		&__txt {
			width: 780px;
		}
	}
  .access {
  	&__wrap {
  		margin: 0 0 20%;
  	}
  }
}



/* 020 contact */


#contact {
  .contact {
	    display: flex;
	    flex-wrap: wrap;
	    max-width: 1500px;
  	    margin: 0 auto;
	&__ttl {
		width: 516px;
    	padding: 0 0 0 200px;
	}
	&__txt {
	    width: calc(100% - 666px);
	    margin: 0 0 0 150px;
	    font-size: 18px;
	    text-align: left;
	    letter-spacing: 2px;
	    line-height: 3;
	    br {
	    	display: none;
	    }
	}
	.btn__wrap {
		margin: 140px 0 0;
	}
  }
}
}
