@charset "UTF-8";
/*
Theme Name: tomishige
Theme URL: tomishige
Description: tomishigeテーマです。
Author: Daisuke Yano
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://arrowscode.work/
*/
/* rule */
@font-face {
  font-family: 'Noto Serif Japanese';
  font-style: normal;
  font-weight: 200;
  src: url(fonts/fonts.otf) format("opentype"), url(fonts/fonts.woff) format("woff");
}

@font-face {
  font-family: 'Gabriola';
  font-style: normal;
  font-weight: normal;
  src: local("Gabriola"), url(fonts/gabriola.woff) format("woff");
}

a {
  text-decoration: none;
  color: #333;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

a:hover {
  opacity: 0.8;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Serif Japanese',"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
  line-height: 1.6;
  color: #31221a;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

img {
  width: 100%;
  display: block;
}

p {
  font-size: 18px;
  font-size: 5.625vw;
}

.en {
  font-family: "Gabriola";
}

.center {
  text-align: center;
}

.pc-contents {
  display: none;
}

.sp-contents {
  display: block;
}

/* 0 rule */
#fixbtn {
  width: 13.333334%;
  position: fixed;
  right: 0;
  bottom: 120px;
  z-index: 100;
}

.linkbox {
  width: 55.2%;
  margin: 0 0 0 44.8%;
  position: relative;
  text-align: center;
  overflow: hidden;
  max-height: 40px;
  z-index: 1;
}

.linkbox::after {
  width: 60px;
  height: 60px;
  content: '';
  border-top: solid 1px white;
  border-right: solid 1px white;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: -11px;
  right: 40px;
  z-index: 0;
}

.linkbox a {
  display: block;
  color: white;
  font-size: 1.6rem;
  line-height: 40px;
  z-index: 2;
}

.linkbox-w {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}

.linkbox-b {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.linkbox-b::after {
  border-top: solid 1px black;
  border-right: solid 1px black;
}

.linkbox-b a {
  color: black;
}

.linkbox-long {
  width: 86.666666%;
  margin: 0 0 0 13.333334%;
}

.linkbox-ab {
  border: none;
  background-color: black;
}

.linkbox-r {
  max-height: 60px;
}

.linkbox-r a {
  line-height: 60px;
}

.linkbox-r::after {
  width: 90px;
}

.linkbox-google a {
  font-size: 1.4rem;
}

.c-center {
  padding: 0 13.333334%;
}

.txt1 {
  padding: 4% 0;
}

.txt2 {
  padding: 2% 0;
}

.r-title {
  padding: 0 0 0 4%;
  display: block;
  font-size: 3rem;
}

/* 1 header */
#gmenu {
  position: fixed;
  top: 0;
  z-index: 999;
}

#kv {
  padding: 16% 0 0;
  position: relative;
}

#headslide:before {
  width: 34.66666667%;
  height: 100%;
  position: absolute;
  top: 16%;
  right: 0;
  content: "";
  background-image: url(images/kv-bg1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 100;
  opacity: 0.3;
}

.kvtext {
  width: 100%;
  padding: 6% 0 0;
  position: absolute;
  z-index: 100;
  color: white;
  /* text-shadow: 1px 1px rgba(255,255,255,0.5); */
}

.kvtext h2 {
  width: 60%;
  padding: 0 0 0 4%;
  border-bottom: 1px solid;
  font-size: 3.0rem;
  font-weight: bold;
}

.kvtext h3 {
  font-size: 1.8rem;
  padding: 4% 4% 0;
}

.kvtext h3 strong {
  font-size: 2.4rem;
}

.kvtext p {
  padding: 0 4%;
  font-size: 1.3rem;
}

.slider1 {
  position: relative;
  width: 100%;
  padding: 0 0 114%;
  overflow: hidden;
}

.slider-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation: anime 16s 0s infinite;
  animation: anime 16s 0s infinite;
  z-index: 10;
}

#slider-image1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

#slider-image2 {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

#slider-image3 {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
}

#slider-image4 {
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
}

@-webkit-keyframes anime {
  0% {
    opacity: 0;
  }
  7% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes anime {
  0% {
    opacity: 0;
  }
  7% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* 2 nav */
#scroll {
  width: 8.8%;
  position: absolute;
  bottom: 4%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* 3 concept */
#oneday {
  padding: 8% 0 0;
  background-color: #200000;
  color: white;
}

#oneday p {
  padding: 4% 13.33334% 20%;
  font-size: 1.4rem;
}

#concept {
  padding: 20% 0 10%;
  background: url(images/r-co-bg.png) repeat;
  background-size: 20%;
}

.concept-box {
  padding: 10% 0;
}

.concept-box h2 {
  padding: 0 4%;
  font-size: 3.2rem;
}

.concept-box dl {
  padding: 4% 12%;
}

.concept-box dl dt, .concept-subtitle {
  font-size: 2.0rem;
  font-weight: bold;
}

.concept-box dl dd {
  font-size: 1.4rem;
}

.concept-inbox {
  margin: 4% 4% 8%;
  background-color: #e9eac0;
}

.concept-subtitle {
  padding: 0 12%;
}

.concept-text {
  padding: 4% 18%;
  font-size: 1.5rem;
}

.concept-inbox .linkbox, .menu-rbox .linkbox {
  width: 60%;
  margin: auto;
  border-right: 1px solid black;
}

/* 4 topic */
#topic {
  padding: 0 16% 8%;
}

.topic-inner {
  padding: 0 0 8%;
}

.topic-image a {
  padding: 24px 20px 18px;
  margin: 6% 0 6%;
  display: block;
  background-image: url(images/topicsbg1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.topic-image img {
  height: 100%;
  border: 2px solid white;
  border-radius: 5%;
}

.topic-title {
  font-size: 1.4rem;
  font-weight: bold;
}

.topic-title span {
  padding: 2% 0 4%;
  display: block;
}

/* 5 menu */
#menu {
  padding: 20% 0;
}

#menu h1 {
  padding: 10% 0 20%;
}

.menu-box {
  padding: 0 0 20%;
  position: relative;
}

#menu div.menu-box:last-child {
  padding: 0;
}

.menu-image, .menu-detail {
  width: 86.666667%;
}

.menu-image {
  position: relative;
  top: 0;
  z-index: 10;
}

.menu-image img {
  height: 100%;
}

.menu-detail {
  padding: 0 0 8%;
  margin: 0 0 0 13.333333%;
  position: relative;
  top: -50px;
  z-index: 20;
  background-color: black;
  color: white;
}

.menu-detail dl {
  padding: 4%;
  border-bottom: 1px solid white;
}

.menu-detail dl dt {
  font-size: 2rem;
  font-weight: bold;
}

.menu-detail dl dt span {
  padding: 0 0 0 1rem;
  font-size: 1.2rem;
  font-weight: normal;
}

.menu-detail dl dd {
  font-size: 1.2rem;
}

.menu-price {
  padding: 4%;
  font-size: 1.6rem;
}

.menu-price-large {
  font-size: 2.4rem;
  letter-spacing: -0.1rem;
}

.menu-price-medium {
  font-size: 1.4rem;
}

.menu-price-small {
  font-size: 1.1rem;
}

.menu-price-cream {
  color: #ff4800;
}

.menu-price-special {
  color: #ff4800;
}

.menu-price-netonly {
  position: relative;
  padding: 0 0 4%;
  text-align: center;
}

.menu-detail .linkbox {
  width: 63.692307%;
  margin: 0 0 0 36.30769%;
}

#menulist {
  padding: 16% 0;
}

.menu-title {
  padding: 10% 0 20%;
  background: url(images/me-bg.png) repeat;
  background-size: 20%;
}

.menu-subtitle {
  padding: 8% 13.333333% 20%;
  font-size: 1.2rem;
}

.menu-rbox {
  padding: 0 0 12%;
  margin: 4% 4% 12%;
  background-color: #eeeeee;
}

.menu-rdetail dl {
  padding: 8% 10% 0;
  font-size: 1.4rem;
}

.menu-rdetail dl dt {
  padding: 0 0 4%;
  font-size: 1.6rem;
  font-weight: bold;
}

.menu-rbox .menu-price {
  padding: 2% 10% 0;
}

.menu-rimage {
  position: relative;
}

.menu-rimage::after {
  content: "";
  width: 100%;
  position: absolute;
  padding: 0 0 15%;
  bottom: 0;
  background: -moz-linear-gradient(top, rgba(238, 238, 238, 0), rgba(238, 238, 238, 0.05) 10%, #eeeeee);
  background: -webkit-linear-gradient(top, rgba(238, 238, 238, 0), rgba(238, 238, 238, 0.05) 10%, #eeeeee);
  background: linear-gradient(to bottom, rgba(238, 238, 238, 0), rgba(238, 238, 238, 0.05) 10%, #eeeeee);
}

.menu-price-lead {
  display: inline-block;
  width: 120px;
  text-align: left;
}

.kv-img img, .menu-rbox img {
  height: 100%;
}

.inbox {
  font-size: 1.2rem;
}

.sh-title {
  padding: 16% 0;
  text-align: center;
  font-size: 2rem;
}

.sh-textbox {
  padding: 12% 0;
}

.sh-titles {
  padding: 0 4% 2%;
  font-size: 2rem;
  font-weight: bold;
}

.sh-textbox p {
  padding: 0 13.333334%;
  font-size: 1.4rem;
}

.sh-inbox {
  padding: 0 0 8%;
}

.sh-inbox div {
  width: 86.666666%;
}

.sh-inbox dl {
  padding: 4%;
}

.sh-inbox dl dt {
  padding: 0 0 2%;
  font-size: 1.6rem;
  font-weight: bold;
}

.sh-inbox dl dd {
  padding: 0 0 0 10%;
}

.wh-img {
  padding: 10% 0 16%;
}

.sh-address {
  padding: 10% 4% 0;
}

.sh-address h2 {
  font-size: 1.6rem;
}

.sh-address h2 span {
  font-size: 2.4rem;
}

.sh-address dl {
  padding: 8% 0;
  font-size: 1.4rem;
}

.sh-address dl dt, .sh-address dl dd {
  display: inline-block;
  padding: 0 0 2%;
}

.sh-address dl dt {
  width: 20%;
}

.sh-address dl dd {
  width: 78%;
}

.sh-pack {
  padding: 20% 0 0;
}

/* 6 ov-menu */
#ov-menu {
  width: 100%;
  height: 150%;
  padding: 10% 0;
  background-color: white;
  position: fixed;
  z-index: 1001;
}

#closebtn {
  width: 16%;
  position: absolute;
  top: 0;
  right: 0;
}

.ov-menubox {
  padding: 0 13.333333%;
  flex-wrap: wrap;
  justify-content: center;
}

.ov-menubox li {
  width: 50%;
}

#ov-menutext {
  margin: 10% 0;
  padding: 0 13.333333%;
}

#ov-menutext div {
  border-top: 1px solid #9B9B9B;
}

#ov-menutext ul {
  padding: 0;
  border-bottom: 1px solid #9B9B9B;
}

.d-none {
  display: none;
}

/* 10 foot */
#foot {
  padding: 20% 0 0;
  background: url(images/f-bg.png) repeat-y;
  background-size: 100%;
  color: white;
  font-size: 1.4rem;
}

#address ul {
  padding: 10% 13.333333%;
  -webkit-justify-content: space-around;
  /* Safari */
  justify-content: space-around;
}

#address ul li {
  width: 9.5%;
}

#address dl {
  padding: 4% 13.333333% 16%;
}

#address dl dd {
  padding: 0 0 4%;
}

#address dl dd a {
  color: white;
}

#map {
  padding: 0 0 20%;
}

#map .map-box {
  padding: 0 13.333333%;
}

.map-text {
  margin: 4% 0;
}

#paid {
  padding: 0 13.333333% 2%;
}

#paid li {
  border: 1px solid white;
}

#paid li:first-child {
  border-top: 1px solid white;
  border-right: none;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}

#foot small {
  display: block;
  font-style: italic;
}

#credit_box {
  height: 100%;
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: none;
}

.credit_close {
  width: 13.333334%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1999;
}

#footer_btn {
  padding: 0 24% 20%;
}

#footer_popup {
  display: none;
  background: white;
  padding: 16% 16% 0;
  height: 100%;
  position: fixed;
  z-index: 999;
  bottom: 0;
}

#footer_closebtn {
  width: 16%;
  position: absolute;
  top: 0;
  right: 0;
}

#footer_menubox {
  margin: 30px 0 0;
  border-top: 1px solid #9B9B9B;
}

#footer_popup .ov-menubox {
  border-bottom: 1px solid #9B9B9B;
}

/* 11 contact */
button, input, optgroup, select, textarea {
  font: 16px "Noto Serif Japanese", "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}

.contact label {
  padding: 0 0 0 1rem;
  display: block;
  font-size: 1.6rem;
}

.contact .menu-subtitle span {
  padding: 0 0 6px;
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
}

.must {
  color: #fff;
  margin-right: 10px;
  padding: 6px 10px;
  background: #F92931;
  border-radius: 20px;
}

.free {
  color: #fff;
  margin-right: 10px;
  padding: 6px 10px;
  background: #424242;
  border-radius: 20px;
}

textarea {
  height: 160px;
}

input.wpcf7-form-control.wpcf7-text,
textarea.wpcf7-form-control.wpcf7-textarea, .wpcf7-date, .wpcf7-select {
  width: 90%;
  margin: 0 0 0 10%;
  padding: 8px 15px;
  border-top: 1px solid #a0a0a0;
  border-bottom: 1px solid #a0a0a0;
  border-right: none;
  border-left: 1px solid #a0a0a0;
}

input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
  background: #eeeeee;
}

.contact .linkbox-long {
  margin: 10% 0 10% 13.333334%;
}

input.wpcf7-submit {
  width: 100%;
  height: 40px;
  display: block;
  background: #750505;
  border: none;
  color: #fff;
  line-height: 2;
}

input.wpcf7-submit:hover {
  cursor: pointer;
  opacity: 0.5;
}

span.wpcf7-not-valid-tip,
.wpcf7-response-output.wpcf7-validation-errors {
  color: red;
  font-weight: 600;
}

span.wpcf7-list-item {
  display: block !important;
  margin: 0 0.5rem 0.5rem !important;
}

.backtop {
  font-size: 1.8rem;
  text-align: center;
}

select {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  vertical-align: middle;
  border: 1px solid #CCC;
}

.wpcf7-date {
  padding: 8px 15px;
}

.wpcf7-form-control-wrap {
  display: block;
  padding: 4px 0;
}

.course-label {
  padding: 1.5rem 0 1rem 1rem;
  font-size: 1.6rem;
}

.radio-741 {
  padding: 0 0 0 12%;
}

.contact .radio-label label {
  padding: 0;
}

input[type=radio] {
  transform: scale(1.2);
  margin: 1rem 0.5rem 0 0;
}

input[type=radio], input[type=checkbox] {
  display: none;
}

.contact .radio-label label span {
  box-sizing: border-box;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  position: relative;
  display: inline-block;
  margin: 0 20px 8px 0;
  padding: 12px;
  border-radius: 4px;
  background-color: #f6f7f8;
  vertical-align: middle;
  cursor: pointer;
}

.wpcf7-list-item input:checked + .wpcf7-list-item-label {
  background-color: #750505;
  color: white;
}

/* 12 contents */
#contents {
  padding: 10% 0 20%;
}

.contents-box {
  padding: 20% 0;
  position: relative;
}

.contents-box h3 {
  padding: 0 0 10%;
}

.contents-text {
  font-size: 1.2rem;
  padding: 0 13.333334% 4%;
}

.contents-image img {
  height: 100%;
}

.contents-box .linkbox {
  position: relative;
  top: -10px;
}

/* 13 gallery */
#gallery {
  padding: 13.2% 0 0;
}

#gallery .menu-title {
  padding: 10% 0 15%;
  margin: 0 0 20%;
  background-image: url(images/co-bg.png);
}

.gallery-box {
  padding: 0 0 20%;
}

.gallery-box div {
  width: 86.666666%;
  padding: 0 0 4%;
}

.gallery-box div:nth-child(even) {
  margin: 0 0 0 13.333334%;
}

.gallery-vertical1 {
  height: 100%;
}

.gallery-title {
  width: 55.2%;
  margin: 0 0 8%;
  background-image: url(images/gall-arrow1.png);
  background-position: 86% center;
  background-repeat: no-repeat;
  background-size: 15px;
  background-color: black;
}

.gallery-close {
  background-image: url(images/gall-arrow2.png);
}

.gallery-title a {
  padding: 15px 0;
  display: block;
  text-align: center;
  color: white;
}

/* 14 detail */
#detail, #staff, #faq {
  padding: 16% 0;
  font-size: 1.2rem;
}

#detail img {
  height: 100%;
}

.detail-info {
  padding: 6% 4%;
  background-color: black;
  color: white;
}

.detail-info h1 {
  padding: 0 0 2%;
  font-size: 2rem;
  font-weight: bold;
}

.detail-info h1 span {
  padding: 0 0 0 1rem;
  font-size: 1.2rem;
  font-weight: normal;
}

.detail-pad {
  padding: 0 0 0 9.722222%;
}

.detail-cbox {
  padding: 12% 4%;
}

.detail-cbox-title {
  padding: 0 0 2%;
  font-size: 2.2rem;
  font-weight: bold;
}

.detail-dbox {
  padding: 4% 0;
}

.detail-dbox dl dt {
  padding: 0 0 2% 13.333334%;
  font-size: 1.8rem;
  font-weight: bold;
  position: relative;
}

.detail-dbox dl dt span {
  padding: 0.6% 3.13%;
  margin: 0 5% 0 0;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #31221a;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  font-size: 1.6rem;
  font-weight: normal;
  color: white;
}

.detail-dbox-text {
  padding: 0 13.333334% 6%;
}

.detail-dbox-image {
  padding: 0 0 0 13.333334%;
}

.detail-pad h4 {
  font-size: 1.8rem;
  font-weight: bold;
}

#detail .linkbox-long {
  height: 40px;
  display: block;
  background: #750505;
  border: none;
  color: #fff;
  line-height: 2;
}

/* 15 staff */
.staff-kv {
  padding: 0 0 16%;
}

.staff-subtitle {
  padding: 0 13.333333% 20%;
  font-size: 1.2rem;
}

.staff-box {
  padding: 32% 0 16%;
  position: relative;
}

.staff-namebox {
  position: absolute;
  top: 10%;
  left: 50%;
  display: block;
}

.staff-position {
  top: 7%;
}

.staff-namebox dd:last-child {
  font-size: 1.8rem;
  font-weight: bold;
}

.staff-defibox {
  padding: 24% 9.3% 18%;
  margin: 0 3%;
  background-color: #eeeeee;
}

.staff-defibox dd {
  padding: 0 0 4% 1.5rem;
}

.staff-image {
  width: 32.8%;
  position: absolute;
  top: 0%;
  left: 13.33334%;
}

/* 16 blog */
#blog {
  padding: 20% 0;
  background: url(images/me-bg.png) repeat;
  background-size: 20%;
  color: white;
}

#blog h2, #archive h2 {
  padding: 0 0 4%;
  font-weight: bold;
  font-size: 1.4rem;
}

.big-title {
  padding: 0 0 12%;
}

.blog-box {
  padding: 0 0 12% 13.333334%;
  font-size: 1.2rem;
}

.blog-ymd {
  line-height: 1;
}

.blog-ymd .en {
  padding: 0 4% 0 0;
  font-size: 1.4rem;
  color: #fff37e;
}

.blog-image {
  width: 30%;
}

.blog-image img {
  height: 100%;
}

.blog-contents {
  width: 70%;
  padding: 0 0 0 4%;
}

.blog-contents .linkbox {
  width: 100%;
  margin: 0;
}

.blog-text {
  padding: 0 0 4%;
  margin: -4px 0 0;
}

#archive {
  padding: 16% 0 20%;
}

#archive div.blog-box:first-child {
  padding: 12% 0 12% 13.333334%;
}

#archive .menu-title {
  padding: 15% 0;
}

#archive .blog-ymd .en {
  color: #750505;
}

#archive h2.ar-title {
  padding: 8% 0;
  text-align: center;
  font-weight: normal;
}

#archive .blog-pack {
  max-height: 1250px;
  overflow: hidden;
}

#archive .blog-hpack {
  max-height: inherit;
}

.blog-inner {
  height: 250px;
}

.postbox {
  padding: 13% 13.333334%;
}

.postbox h1 {
  padding: 0 0 2%;
  border-bottom: 1px solid rgba(210, 173, 101, 0.2);
  font-size: 2.2rem;
}

.postbox .postbox-ymd {
  padding: 4px 0;
  font-size: 1.2rem;
}

.postbox .postbox-contents {
  padding: 8% 0;
  border-bottom: 1px solid #d2ad65;
  font-size: 1.4rem;
}

.postbox img {
  width: 100%;
  height: 100%;
}

/* 17 faq */
#faq h2 {
  font-size: 1.6rem;
  text-align: center;
}

.faq-box {
  padding: 18% 3% 8%;
}

.faq-inbox {
  padding: 0 0 8%;
}

.faq-inbox dt, .faq-inbox dd {
  padding: 6% 6% 6% 3%;
  margin: 0 0 2px;
  background-color: #eeeeee;
}

.faq-inbox dt {
  background-image: url(images/r-fa-arrow2.png);
  background-repeat: no-repeat;
  background-position: 96% center;
  background-size: 15px;
}

.faq-inbox dt.faq-close {
  background-image: url(images/r-fa-arrow1.png);
}

.faq-inbox dd {
  display: none;
}

.faq-inbox span {
  display: block;
}

.faq-inbox-list {
  font-size: 1.8rem;
  font-family: 'Abril Fatface', cursive;
  color: #cf6d6d;
}

.faq-inbox-text {
  padding: 2% 4% 0;
}

/* 20 shop */
#shop {
  padding: 0 0 20%;
}

.shop-logo {
  padding: 10% 26.73%;
}

.shop-box h3 {
  padding: 0 8% 4%;
}

.shop-box h3 span {
  padding: 0 0 0 2rem;
  font-size: 2rem;
}

.shop-box dl {
  padding: 0 8%;
}

.shop-box dl dt, .shop-box dl dd {
  display: inline-block;
}

.shop-box dl dt {
  width: 18%;
}

.shop-box dl dd {
  width: 82%;
}

.shop-inner .subtitle {
  padding: 0 0 8%;
}

.shop-image {
  padding: 16% 4%;
}

.shop-limage {
  padding: 0 0 2%;
}

.shop-simage {
  -webkit-flex-wrap: wrap;
  /* Safari */
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  /* Safari */
  justify-content: space-between;
}

.shop-simage li {
  width: 15.8%;
}

.shop-introduction {
  padding: 20% 4% 10%;
  margin: auto;
  font-size: 1.4rem;
}

.shop-introduction h1 {
  padding: 0 0 12%;
}

.shop-introduction h2 {
  padding: 0 0 8%;
  font-size: 1.6rem;
  font-weight: bold;
}

/* 21calendar */
.embed-container {
  max-width: 100%;
  height: 0;
  padding-bottom: 120%;
  position: relative;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (orientation: landscape) {
  html {
    font-size: 100%;
  }
}

@-webkit-keyframes anime {
  0% {
    opacity: 0;
  }
  7% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes anime {
  0% {
    opacity: 0;
  }
  7% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (min-width: 769px) {
  /* 0 rule */
  html {
    font-size: 62.5%;
  }
  img {
    width: auto;
  }
  #wrapper {
    font-size: 1.4rem;
  }
  .pc-contents {
    display: block;
  }
  .sp-contents {
    display: none;
  }
  .r-title {
    font-size: 4rem;
  }
  .linkbox-w {
    border: 1px solid white;
  }
  .linkbox {
    width: 418px;
    max-height: 80px;
    margin: 0 0 0 522px;
  }
  .linkbox::after {
    width: 80px;
    height: 80px;
    right: 90px;
    top: 0px;
  }
  .linkbox a {
    line-height: 80px;
    font-size: 2rem;
  }
  /* 1 header */
  header ul.flex {
    width: 1030px;
    padding: 20px 0;
    margin: auto;
    background-color: white;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    /* Safari */
    justify-content: space-between;
  }
  #kv {
    width: 100%;
    padding: 0;
    margin: auto;
    background-color: #cccccc;
  }
  .kv-pc::after {
    content: "";
    width: 100%;
    position: absolute;
    padding: 0 0 100px;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3) 40%, white);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3) 40%, white);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3) 40%, white);
  }
  #kv img {
    width: 100%;
  }
  #scroll {
    width: auto;
  }
  /* 2 front-page */
  #oneday {
    padding: 70px 0 150px;
  }
  #oneday h1, #concept h1 {
    text-align: center;
  }
  #oneday img {
    width: 600px;
    display: inline;
  }
  #oneday p {
    width: 540px;
    padding: 0;
    margin: auto;
    font-size: 1.8rem;
  }
  #concept {
    padding: 150px 0 200px;
    background-size: 8%;
  }
  #concept h1 {
    padding: 0 0 60px;
  }
  #concept h1 img {
    width: 324px;
    display: inline;
  }
  .concept-pack {
    width: 934px;
    margin: 0 auto 80px;
    border: 1px solid black;
    display: -webkit-flex;
    display: flex;
  }
  .concept-pack > div {
    width: 466px;
  }
  .whatheadspa .concept-contents {
    background: #e9eac0 url(images/pc/fr-wh-r2.png) left bottom no-repeat;
  }
  .concept-type {
    background-color: white;
  }
  .concept-type h2 {
    padding: 80px 40px 40px;
  }
  .concept-text {
    padding: 0 42px 60px;
  }
  .concept-contents .linkbox {
    margin: 0 0 0 156px;
    max-height: 60px;
    width: 310px;
  }
  .concept-contents .linkbox a, .menu-rbox .linkbox a, .blog-box .linkbox a {
    line-height: 60px;
  }
  .concept-contents .linkbox::after, .menu-rbox .linkbox::after, .blog-box .linkbox::after {
    width: 60px;
    height: 60px;
    right: 70px;
  }
  #menulist {
    padding: 50px 0 150px;
  }
  .menu-subtitle {
    padding: 0 0 80px;
    text-align: center;
    font-size: 1.6rem;
  }
  .contact .menu-subtitle span {
    font-size: 2rem;
  }
  .wpcf7 {
    width: 980px;
    margin: auto !important;
  }
  .contact label {
    width: 450px;
    padding: 0;
    margin: auto;
    font-size: 1.4rem;
  }
  input.wpcf7-form-control.wpcf7-text, textarea.wpcf7-form-control.wpcf7-textarea, .wpcf7-date, .wpcf7-select {
    width: 100%;
    margin: 0;
    border: 1px solid #a0a0a0;
    background: #eeeeee;
  }
  .linkbox-long {
    width: 472px;
    max-height: 80px;
    margin: 0 0 0 528px;
    right: 0;
  }
  .contact .linkbox-long {
    margin: 100px 0 0 528px;
  }
  input.wpcf7-submit {
    height: 80px;
  }
  #menu {
    width: 938px;
    padding: 80px 0;
    margin: auto;
  }
  #menu h1 {
    padding: 0 0 50px;
  }
  .menu-rbox {
    padding: 0;
    margin: 0 0 20px;
  }
  .menu-rdetail {
    padding: 70px 221px;
  }
  .menu-rdetail dl {
    padding: 0;
  }
  .menu-rdetail dl dt {
    padding: 0 0 20px;
    font-size: 2rem;
    text-align: center;
  }
  .menu-rdetail dl dd:last-child {
    padding: 30px 80px;
  }
  .menu-rdetail dl dd.menu-rimage img {
    width: 496px;
  }
  .menu-price br {
    display: none;
  }
  .menu-rbox .linkbox {
    width: 312px;
  }
  .menu-rbox .menu-price {
    width: 300px;
    padding: 0;
    margin: auto;
  }
  .detail-ebox p.menu-price-netonly {
    margin: -15px auto 30px;
    font-size: 1.4rem;
  }
  .menu-price-netonly {
    top: 0;
    padding: 12px 0 20px;
  }
  #menu .linkbox-r, #menulist .linkbox-r {
    width: 468px;
    margin: 80px 0 0 468px;
    border-right: 1px solid black;
  }
  .pc-contents #menu {
    padding: 80px 0 200px;
  }
  .pc-contents #menu .menu-subtitle {
    padding: 0 0 100px;
  }
  #detail .menu-price {
    width: 300px;
    padding: 0;
    margin: auto;
  }
  #blog {
    padding: 200px 0;
    background-size: 8%;
  }
  .blog-pack {
    width: 936px;
    margin: auto;
  }
  .blog-inner {
    width: 724px;
    height: 330px;
    margin: auto;
  }
  .blog-box {
    padding: 0 0 110px 250px;
    position: relative;
  }
  .blog-ymd {
    font-weight: normal;
  }
  .blog-ymd .en {
    padding: 0 1rem 0 0;
  }
  #blog h2, #archive h2 {
    padding: 16px 0 20px;
    font-weight: normal;
    font-size: 2rem;
  }
  .blog-image {
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .blog-image img {
    width: 200px;
  }
  .blog-contents {
    width: 472px;
    padding: 0;
    margin: 0;
  }
  .blog-text {
    padding: 0 0 30px;
    margin: 0;
    font-size: 1.4rem;
  }
  .blog-box .linkbox {
    width: 312px;
  }
  .blog-pack .linkbox-long {
    width: 468px;
    margin: 80px 0 0 468px;
  }
  #contents {
    padding: 100px 0;
  }
  .contents-top {
    width: 1336px;
    padding: 0 0 200px;
    margin: auto;
    text-align: center;
  }
  .contents-top img {
    display: inline;
  }
  .contents-box {
    width: 940px;
    padding: 0 0 180px;
    margin: auto;
  }
  .contents-box h3 {
    padding: 0 0 30px;
    font-size: 4rem;
  }
  .contents-box .linkbox-ab {
    width: 418px;
    max-height: 80px;
    margin: 0 0 0 522px;
  }
  .contents-box .linkbox a {
    line-height: 80px;
    font-size: 2rem;
  }
  .contents-text {
    font-size: 1.6rem;
  }
  .c-center {
    padding: 0 80px 0 100px;
  }
  .contents-image img {
    width: 100%;
  }
  #foot {
    padding: 200px 0 20px;
    background: url(images/pc/f-bg.png) repeat;
  }
  #address h1 {
    text-align: center;
  }
  #address h1 img {
    display: inline;
  }
  #address ul, #address dl {
    width: 550px;
    padding: 64px 0;
    margin: auto;
  }
  #address ul {
    width: 400px;
    -webkit-justify-content: space-between;
    /* Safari */
    justify-content: space-between;
  }
  #address ul li {
    width: 52px;
  }
  #address dl dt, #address dl dd {
    display: inline-block;
    font-size: 2rem;
  }
  #address dl dt {
    width: 120px;
  }
  #address dl dd {
    width: 420px;
    padding: 0 0 10px;
  }
  #map {
    width: 940px;
    padding: 0 0 200px;
    margin: auto;
  }
  #paid {
    padding: 0 0 20px;
    justify-content: center;
  }
  #fixbtn {
    width: 54px;
  }
  #map .map-text {
    padding: 10px 0 40px 40px;
    margin: 0;
    font-size: 1.6rem;
  }
  #map .map-image {
    width: 704px;
    padding: 0;
    margin: auto;
  }
  #paid li {
    padding: 10px;
  }
  #paid img {
    width: 200px;
  }
  #credit_box {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .credit_img {
    width: 750px;
    padding: 0;
    margin: auto;
    text-align: center;
  }
  .credit_img img {
    width: 400px;
    display: inline;
  }
  .credit_close {
    width: 50px;
    top: 50px;
    right: 30%;
  }
  .credit_close img {
    width: 50px;
  }
  .sh-textbox, .wh-img {
    width: 680px;
    margin: auto;
  }
  .sh-textbox {
    padding: 80px 0;
  }
  .sh-titles {
    padding: 0 0 30px;
  }
  .sh-textbox .txt1 {
    padding: 0;
    font-size: 1.6rem;
  }
  .wh-img {
    padding: 0 0 100px;
  }
  h3.sh-titles {
    width: 936px;
    margin: auto;
    position: relative;
    font-size: 3rem;
    text-align: center;
  }
  h3.sh-titles::before, h3.sh-titles::after {
    content: "";
    padding: 6px 12px;
    background: url(images/pc/wh-parts.png) no-repeat;
    position: absolute;
    top: 20px;
  }
  h3.sh-titles::before {
    left: 200px;
  }
  h3.sh-titles::after {
    right: 200px;
  }
  .detail-dbox {
    width: 936px;
    padding: 50px 80px 50px 60px;
    margin: 0 auto 2px;
    background-color: #eeeeee;
  }
  .detail-dbox {
    position: relative;
  }
  .detail-dbox dl dt {
    position: inherit;
  }
  .detail-dbox dl dt, .detail-dbox dl dd {
    padding: 0 0 0 90px;
  }
  .detail-dbox dl dd {
    font-size: 1.6rem;
  }
  .detail-dbox dl dt span {
    display: none;
  }
  .detail-dbox p.pc-contents {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 6rem;
    color: #312217;
  }
  .wh-image, .wh-link {
    width: 936px;
    padding: 80px 0 0;
    margin: auto;
  }
  .wh-link {
    padding: 0;
  }
  #detail {
    padding: 0 0 100px;
    position: relative;
  }
  .detail-kv {
    width: 100%;
    margin: auto;
    position: relative;
  }
  .detail-kv::before {
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .detail-kv img {
    width: 100%;
    position: relative;
  }
  .detail-info {
    width: 1336px;
    padding: 0;
    background-color: unset;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 11;
    text-align: center;
  }
  .detail-info h1 {
    padding: 0px 0 16px;
    font-size: 3.6rem;
    font-weight: bold;
  }
  .detail-info h1 span {
    font-size: 3.6rem;
  }
  .detail-pad {
    width: 936px;
    padding: 0;
    margin: auto;
    font-size: 1.8rem;
  }
  .detail-cbox {
    width: 570px;
    padding: 74px 0 80px;
    margin: auto;
    position: relative;
  }
  .detail-cbox-title {
    padding: 0 10px 10px 0;
    background-color: white;
    font-size: 3rem;
    position: absolute;
    top: 46px;
  }
  .detail-cbox .detail-pad {
    width: 550px;
    padding: 50px 74px 30px;
    margin: 0 0 0 20px;
    border: 1px solid black;
  }
  #detail .detail-dbox {
    padding: 50px 200px 50px 200px;
    margin: 0 auto 30px;
  }
  #detail .detail-dbox dl {
    padding: 0;
  }
  #detail .detail-dbox dl dt, #detail .detail-dbox dl dd {
    padding: 0 0 30px;
  }
  #detail .detail-dbox dl dt {
    font-size: 2.2rem;
  }
  #detail .detail-dbox dl dt span {
    padding: 4px 18px;
    margin: 0 20px 0 0;
    display: inline-block;
    position: relative;
    font-size: 2.2rem;
  }
  #detail .detail-dbox dl dd.detail-dbox-image {
    width: 550px;
  }
  #detail .detail-dbox dl dd.detail-dbox-image img {
    width: 100%;
  }
  #detail .linkbox-long {
    height: 80px;
    margin: 0 0 0 464px;
  }
  .detail-ebox {
    width: 750px;
    height: 364px;
    padding: 0;
    margin: 120px auto;
    background: url(images/pc/de-price.png) no-repeat center;
  }
  .detail-ebox .detail-pad {
    width: 750px;
    padding: 100px 0 0;
    margin: auto;
    border: none;
    text-align: center;
  }
  .detail-ebox h4 {
    font-size: 2.8rem;
  }
  .detail-ebox p {
    padding: 10px 0;
    font-size: 2rem;
  }
  .detail-ebox .menu-price-large {
    font-size: 3rem;
  }
  #staff {
    width: 936px;
    padding: 0 0 100px;
    margin: auto;
  }
  .staff-pack {
    width: 936px;
    padding: 180px 0 100px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    /* Safari */
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .staff-subtitle {
    padding: 80px 0;
    font-size: 1.6rem;
    text-align: center;
  }
  .staff-pack section:nth-child(even) {
    margin: 280px 0 0;
  }
  .staff-box {
    width: 442px;
    padding: 0;
    font-size: 1.4rem;
  }
  .staff-image {
    width: 150px;
    top: -170px;
    left: 42px;
  }
  .staff-image img {
    width: 150px;
  }
  .staff-namebox {
    top: -60px;
    left: 206px;
  }
  .staff-defibox {
    margin: 0;
  }
  #staff .linkbox-long, #faq .linkbox-long {
    margin: 0 0 0 464px;
    border-right: 1px solid black;
  }
  #faq {
    width: 936px;
    padding: 0 0 100px;
    margin: auto;
  }
  #faq h2 {
    padding: 80px 0;
    font-size: 1.6rem;
    text-align: center;
  }
  #faq h2 br:nth-child(odd) {
    display: none;
  }
  .faq-box {
    padding: 0;
  }
  .faq-inbox {
    font-size: 1.6rem;
  }
  .faq-inbox-list {
    font-size: 2.6rem;
  }
  .shop-introduction, .sh-address, .sh-inbox div, .sh-inbox div img, .shop-limage, .shop-limage img {
    width: 616px;
  }
  .shop-introduction {
    padding: 140px 0 0;
    font-size: 1.6rem;
  }
  .shop-introduction h1 {
    padding: 0 0 30px;
  }
  .shop-introduction h2 {
    padding: 0 0 20px;
    font-size: 2rem;
  }
  .shop-image {
    padding: 140px 0 100px;
    margin: auto;
  }
  .shop-limage {
    padding: 0 0 10px;
    margin: auto;
  }
  .shop-simage {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .shop-simage li {
    width: 60px;
  }
  .shop-simage img {
    width: 60px;
    height: 60px;
  }
  .sh-address {
    padding: 0;
    margin: auto;
  }
  .sh-address h2 {
    font-size: 2rem;
  }
  .sh-address h2 span {
    font-size: 3rem;
  }
  .sh-address dl {
    padding: 30px 0;
    font-size: 1.8rem;
  }
  .wh-link .linkbox-b {
    border: 1px solid black;
  }
  .sh-pack, .postbox {
    width: 936px;
    padding: 140px 160px;
    margin: 150px auto 0;
    background-color: #eeeeee;
  }
  .sh-title {
    padding: 0;
    font-size: 3.6rem;
    font-weight: bold;
  }
  .sh-pack .sh-inbox dl {
    padding: 30px 0;
    font-size: 1.6rem;
  }
  .sh-inbox dl dd {
    padding: 0;
  }
  #archive {
    padding: 100px 0;
  }
  #archive h2.ar-title {
    padding: 0 0 100px;
  }
  .postbox {
    padding: 100px 160px;
    margin: 0 auto;
  }
  .postbox h1 {
    padding: 0 0 30px;
    border-bottom: none;
  }
  .postbox .postbox-contents {
    padding: 30px 0;
    border-bottom: none;
  }
  #archive div.blog-box:first-child {
    padding: 0 0 110px 250px;
  }
  .blog-pack .linkbox-b {
    border: 1px solid black;
  }
  #archive .blog-pack {
    padding: 200px 0 0;
    max-height: 1950px;
  }
  #archive .blog-hpack {
    max-height: inherit;
  }
  .ar-contents .blog-pack {
    padding: 0 !important;
  }
  .embed-container {
    padding-bottom: 600px;
  }
  .embed-container iframe, .embed-container object, .embed-container embed {
    height: 600px;
  }
  #footer_btn img {
    margin: auto;
  }
  #footer_popup {
    width: 100%;
    padding: 100px 50px;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0%);
  }
  #footer_popup > div, .ov-menubox {
    width: 400px;
    margin: auto;
  }
  #footer_popup > div img {
    width: 400px;
  }
  #footer_closebtn {
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
  }
  #footer_popup #footer_closebtn img {
    width: 100px;
  }
  #footer_popup #footer_menubox {
    margin: 30px auto 0;
    border-top: 1px solid #9B9B9B;
  }
  #footer_popup .ov-menubox {
    border-bottom: 1px solid #9B9B9B;
  }
  .ov-menubox {
    width: 400px;
    padding: 0;
  }
}
