@charset "UTF-8";
/*
Theme Name: tomishige
Theme URL: tomishige
Description: tomishigeテーマです。
Author: Daisuke Yano
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://arrowscode.work/
*/
/* rule */
/*@font-face {
	font-family: 'Noto Serif Japanese';
	font-style: normal;
	font-weight: 200;
	src: url(fonts/fonts.otf) format('opentype'),
    url(fonts/fonts.woff)  format('woff');
}
@font-face {
	font-family: 'Gabriola';
	font-style: normal;
	font-weight: normal;
	src: local('Gabriola'), url(fonts/gabriola.woff) format('woff');
}*/
a {
  text-decoration: none;
  color: #333;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

a:hover {
  opacity: 0.8;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.6;
  color: #31221a;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

img {
  width: 100%;
  display: block;
}

.en {
  font-family: 'Roboto', sans-serif;
}

.center {
  text-align: center;
}

.pc-s {
  display: none;
}

.sp-s {
  display: block;
}

.ttl01 {
  position: relative;
  margin: 0 5%;
  font-size: calc(3vw + 11px);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  letter-spacing: calc(1.1vw - 2.7px);
}

.ttl01__txt {
  position: relative;
  z-index: 10;
  background: #ffffff;
  padding: 0 1rem;
}

.ttl01::after {
  position: absolute;
  content: "";
  border: 1px solid #000000;
  width: 100%;
  top: 50%;
  left: 0;
  z-index: 1;
}

.txt01 {
  font-size: calc(1.9vw + 6.88px);
  line-height: 3.38;
  letter-spacing: 0.45rem;
  word-break: break-all;
}

.btn__inner {
  width: 50%;
  margin: auto;
}

.morebtn {
  width: 50%;
  margin: -5% auto 0;
  background: url(img/parts/more.png) no-repeat top center;
  text-align: center;
}

.morebtn__link {
  display: block;
  font-size: calc(2.4vw + 8.4px);
  line-height: 3.45;
  letter-spacing: calc(1.3vw + 4.8px);
  color: #ffffff;
}

/* 0 rule */
#container {
  position: relative;
  overflow: hidden;
}

/* 1 header */
.header {
  position: relative;
  background: #888888;
  width: 100%;
  height: 100%;
}

.header__logo {
  position: absolute;
  top: 6.6%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 21.8%;
}

.header__scroll {
  position: absolute;
  left: 50%;
  bottom: 10.5%;
  z-index: 20;
  transform: translateX(-50%);
  width: 11.4%;
}

.nav {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: auto;
}

.nav__btn {
  position: absolute;
  top: 13%;
  z-index: 20;
  cursor: pointer;
}

.nav__btn.left__nav--open {
  left: 10%;
  width: 16.8%;
}

.nav__btn.right__nav--open {
  right: 10%;
  width: 18.4%;
}

.nav__btn.left__nav--close {
  left: -91%;
}

.nav__btn.left__nav--close.c-open {
  left: 9%;
}

.nav__btn.right__nav--close {
  right: -91%;
}

.nav__btn.right__nav--close.c-open {
  right: 9%;
}

.nav__btn.left__nav--close, .nav__btn.right__nav--close {
  width: 20.0%;
  transition: all .6s;
  z-index: 300;
}

.nav__box {
  position: absolute;
  top: 0;
  background: #00000080;
  width: 100%;
  height: auto;
  transition: all .6s;
  z-index: 200;
  overflow-y: auto;
}

.nav__area {
  min-height: 100vh;
  padding: 46.5% 0 0;
}

.nav__list {
  padding: 4% 0 7.5%;
  text-align: center;
}

.nav__link {
  font-size: calc(1.5vw + 1rem);
  color: #fff;
}

.left__nav--box {
  left: -100%;
}

.left__nav--box.open {
  left: 0;
}

.right__nav--box {
  right: -100%;
}

.right__nav--box.open {
  right: 0;
}

/* 2 contents01 */
#contents01 {
  background: #cee8e6;
}

.contents01__kv {
  padding: 34.7% 0 36.2%;
}

.contents01__catch {
  width: 47.6%;
  padding: 0 0 29%;
  margin: auto;
}

.contents01__ttl .ttl01__txt {
  background: #cee8e6;
}

.contents01__area {
  position: relative;
  background: #ffffff;
  padding: 32% 0 38.2%;
}

.contents01__img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 78%;
  margin: auto;
}

.contents01__subttl {
  padding: 0% 0 14% 3%;
  text-align: center;
  font-size: calc(4.5vw + 6.1px);
  letter-spacing: 3px;
}

.contents01__subttl__counts {
  padding: 0 0 0 1%;
  font-size: calc(7.8vw + 28px);
  letter-spacing: 1px;
}

.contents01__txt {
  padding: 0 10%;
}

.contents01__txt .en {
  letter-spacing: 3px;
}

/* 3 contents02 */
.contents02__area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
  padding: 21% 5% 54%;
}

.contents02__img--box01 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: -1;
}

.contents02__img--box02 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: -2;
}

.contents02__img--box03 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: -2;
}

.contents02__img--box04 {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: -1;
}

.contents02__img--box05 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: -2;
}

.contents02__img--box06 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: -1;
}

.contents02__img--box07 {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: -2;
}

.contents02__img--box08 {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: -1;
}

.contents02__img--box09 {
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: -1;
}

.contents02__img--box10 {
  grid-row-start: 7;
  grid-row-end: 9;
  grid-column-start: 1;
  grid-column-end: -2;
}

.contents02__img--box11 {
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 2;
  grid-column-end: -1;
}

.contents02__img--box12 {
  grid-row-start: 8;
  grid-row-end: 9;
  grid-column-start: 2;
  grid-column-end: -1;
}

.contents02__img--box13 {
  grid-row-start: 9;
  grid-row-end: 10;
  grid-column-start: 1;
  grid-column-end: -1;
}

/* 4 contents03 */
#contents03 {
  padding: 0 0 50.2%;
}

.contents03__kv {
  padding: 19.5% 0 14.2%;
}

.contents03__catch {
  width: 61.8%;
  margin: auto;
}

.contents03__area {
  background: #f2f5d9;
  margin: 0 5%;
}

.contents03__txt {
  padding: 14% 5% 22%;
}

.contents03__txt .en {
  letter-spacing: 3px;
}

/* 5 contents04 */
.swiper02 {
  padding: 7.5% 0;
}

.swiper02__box {
  position: relative;
  margin: 10% 10% calc(27.8% + 100px);
}

.swiper02__box--img {
  padding: 0 0 0 12.5%;
}

.swiper02__box--info {
  position: absolute;
  top: 14%;
  left: 0;
  z-index: -1;
  background: #f3e3e3;
  width: 87.5%;
  padding: 81.5% 5% 5% 12%;
}

.swiper02__box--ymd {
  padding: 0 0 21%;
  font-size: calc(2.4vw + 8.4px);
  letter-spacing: calc(0.4vw + 1.6px);
}

.swiper02__box--link {
  position: relative;
  padding: 0 3.3% 0 0;
  text-align: right;
  font-size: calc(1.9vw + 6.9px);
  letter-spacing: calc(0.4vw + 1.6px);
}

.swiper02__box--arrows {
  display: inline-block;
  transform: rotate(90deg);
  font-size: calc(1.2vw + 6.9px);
}

.swiper-arrows02 {
  position: relative;
  width: 100%;
}

.swiper-arrows02::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 14%;
  border-bottom: 1px solid #000;
  transform: translate(-50%, 0) rotate(-60deg);
}

.contents04__area {
  position: relative;
  padding: 23.4% 0 31.2%;
}

/* 6 contents05 */
#contents05 {
  padding: 0 0 50%;
}

.contents05__ttl .ttl01__txt {
  padding: 0.1px;
}

.contents05__insta {
  padding: 28% 0;
  text-align: center;
}

.contents05__insta--icon {
  width: 6%;
  margin: 0 auto 3.5%;
}

.contents05__insta--name {
  font-size: calc(2.4vw + 8.5px);
  text-align: center;
}

/* 7 footer */
.footer {
  background: #000000;
  padding: 32% 0 5%;
}

.footer__logo {
  width: 15.8%;
  margin: auto;
}

.footer__nav {
  position: relative;
  padding: 15.5% 0 17%;
}

.footer__nav--list {
  padding: 4% 0 10.7%;
  font-size: calc(2.4vw + 8.5px);
  letter-spacing: calc(0.4vw + 1.6px);
}

.footer__nav::after {
  position: absolute;
  content: "";
  border: 1px solid #ffffff;
  width: 70%;
  bottom: 0;
  left: 15%;
  z-index: 1;
}

.footer__info {
  padding: 17.5% 0 21%;
}

.footer__info--box {
  display: flex;
  align-items: center;
  padding: 0 15% 6%;
}

.footer__info--icon {
  width: 5.71%;
}

.footer__info--list {
  padding: 0 0 0 8%;
}

.footer__info--link {
  font-size: calc(1.8vw + 6.35px);
  letter-spacing: calc(0.3vw + 1.0px);
  color: #ffffff;
}

.footer__cr {
  display: block;
  font-style: italic;
  font-family: Times;
  font-size: calc(1.5vw + 5.3px);
  text-align: center;
  color: #ffffff;
}

/* 50 swiper */
.swiper-btn {
  display: none;
}

.swiper-button-prev01,
.swiper-button-next01 {
  position: absolute;
  top: 468px;
  width: 86px;
  height: 86px;
  border: 0px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  z-index: 999;
  outline: none;
}

.swiper-button-prev01 {
  right: 194px;
}

.swiper-button-next01 {
  left: 194px;
  transform: rotate(-135deg);
}

.swiper-button-prev02,
.swiper-button-next02 {
  position: absolute;
  top: -16px;
  z-index: 10;
  font-size: calc(2.2vw + 7.9px);
  box-shadow: none;
  outline: none;
}

.swiper-button-prev02 {
  left: 22%;
  transform: rotate(-90deg);
}

.swiper-button-next02 {
  right: 22%;
  transform: rotate(90deg);
}

.swiper-button-prev01.swiper-button-disabled,
.swiper-button-next01.swiper-button-disabled,
.swiper-button-prev02.swiper-button-disabled,
.swiper-button-next02.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper01 .swiper-slide {
  position: relative;
}

.swiper01 .swiper-slide::after {
  position: absolute;
  top: 0;
  left: -50%;
  z-index: 1;
  content: "";
  background: #00000080;
  width: 200%;
  height: 100%;
}

#cmphoto .swiper01 .swiper-slide::after {
  background: #00000000;
}

/* 10 common */
.common .header {
  background: #ffffff;
  padding: 78% 0 0;
}

.common .intro__ttl {
  font-size: 5vw;
  text-align: center;
}

.common .intro__txt {
  padding: 11.2% 11.8%;
  font-size: 2.6vw;
  line-height: 2.5;
}

/* 010 cmphoto */
#cmphoto .kv__ttl {
  padding: 11.4% 13.7% 25.8% 14.5%;
}

#cmphoto .intro__ttl {
  font-size: 5vw;
  text-align: center;
}

#cmphoto .intro__txt {
  padding: 11.2% 11.8%;
  font-size: 2.6vw;
  line-height: 2.5;
}

#cmphoto .cmphoto {
  position: relative;
  padding: 0 10%;
  margin: 0 0 36%;
}

#cmphoto .cmphoto:after {
  content: "";
  position: absolute;
  top: 0;
  left: 13%;
  border-left: 1px solid #000;
  height: 100%;
  z-index: -1;
}

#cmphoto .cmphoto__area {
  padding: 0 0 22%;
}

#cmphoto .cmphoto__area--ttl {
  background: #ffffff;
  padding: 3.6% 1%;
  font-size: calc(3vw + 11px);
}

#cmphoto .cmphoto__area--img {
  padding: 0 11.11%;
}

#cmphoto .cmphoto__area--txt {
  padding: 0 11.11% 4.4%;
  font-size: calc(1.9vw + 6.88px);
  line-height: 2;
}

#cmphoto .cmphoto .btn__wrap {
  position: relative;
}

#cmphoto .cmphoto .btn__wrap .morebtn {
  position: absolute;
  right: 0;
  width: 62.5%;
}

#cmphoto .cmphoto__outrotxt {
  background: #ffffff;
  padding: 3.6% 1%;
  font-size: calc(3vw + 11px);
  line-height: 2;
}

/* 011 access */
#access .kv__ttl {
  padding: 17.5% 32.8% 26.8% 31.8%;
}

#access .access__wrap {
  margin: 0 0 20%;
}

/* 020 contact */
#contact .contact {
  margin: 0 0 49.6%;
}

#contact .contact__ttl {
  padding: 20% 26% 8.6%;
}

#contact .contact__txt {
  width: 74%;
  margin: 0 auto 10%;
  font-size: calc(1.9vw + 6.88px);
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.8;
}

@media only screen and (orientation: landscape) {
  html {
    font-size: 100%;
  }
}

@media screen and (min-width: 1280px) {
  /* 0 rule */
  .ttl01 {
    position: relative;
    width: 800px;
    margin: 0 auto;
    font-size: 28px;
    letter-spacing: 6px;
  }
  .ttl01__txt {
    position: relative;
    z-index: 10;
    background: #ffffff;
    padding: 0 1rem;
  }
  .ttl01::after {
    position: absolute;
    content: "";
    border: 1px solid #000000;
    width: 100%;
    top: 50%;
    left: 0;
    z-index: 1;
  }
  .txt01 {
    font-size: 18px;
    line-height: 3.9;
    letter-spacing: 5.2px;
    word-break: break-all;
  }
  .btn__wrap {
    position: relative;
    width: 1500px;
    margin: auto;
  }
  .btn__inner {
    width: 350px;
  }
  .morebtn {
    position: absolute;
    top: -40px;
    right: 200px;
    width: 350px;
    margin: 0 auto;
    background-size: 350px;
    text-align: center;
  }
  .morebtn__link {
    display: block;
    background: url(img/parts/more.png) no-repeat;
    margin: 0;
    font-size: 20px;
    line-height: 4;
    letter-spacing: 10px;
    color: #ffffff;
  }
  .pc-s {
    display: block;
  }
  .sp-s {
    display: none;
  }
  /* 1 header */
  .header__logo {
    top: 82px;
    width: 136px;
  }
  .header__btns {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 250;
    transform: translateX(-50%);
    width: 1000px;
    margin: auto;
  }
  .header__scroll {
    position: absolute;
    top: 890px;
    bottom: 0;
    left: 50%;
    z-index: 260;
    transform: translateX(-50%);
    width: 74px;
  }
  .nav__btn {
    position: absolute;
    top: 148px;
    z-index: 10;
    cursor: pointer;
  }
  .nav__btn.left__nav--open {
    left: 230px;
    width: 104px;
  }
  .nav__btn.right__nav--open {
    right: 230px;
    width: 104px;
  }
  .nav__btn.left__nav--close, .nav__btn.right__nav--close {
    opacity: 0;
    top: -148px;
    width: 150px;
    height: 20px;
    cursor: initial;
  }
  .nav__btn.left__nav--close.c-open, .nav__btn.right__nav--close.c-open {
    top: 148px;
  }
  .nav__btn.left__nav--close {
    left: 230px;
  }
  .nav__btn.left__nav--close.c-open {
    left: 230px;
  }
  .nav__btn.right__nav--close {
    right: 230px;
  }
  .nav__btn.right__nav--close.c-open {
    right: 230px;
  }
  .nav__box {
    background: #00000000;
  }
  .nav__area {
    display: flex;
    justify-content: space-around;
    width: 1280px;
    height: auto;
    min-height: auto;
    margin: auto;
    padding: 0;
  }
  .nav__list {
    padding: 0;
    text-align: center;
  }
  .nav__link {
    font-size: 20px;
    color: #fff;
  }
  .left__nav--box, .right__nav--box {
    top: -300px;
  }
  .left__nav--box.open, .right__nav--box.open {
    top: 300px;
  }
  .left__nav--box {
    left: 0;
  }
  .left__nav--box.open {
    left: 0;
  }
  .right__nav--box {
    right: 0;
  }
  .right__nav--box.open {
    right: 0;
  }
  /* 2 contents01 */
  .contents01__kv {
    width: 1500px;
    padding: 266px 0 310px;
    margin: auto;
  }
  .contents01__catch {
    width: 440px;
    padding: 0 0 164px;
    margin: auto;
  }
  .contents01__wrap {
    background: #ffffff;
  }
  .contents01__area {
    width: 1500px;
    padding: 0 0 325px;
    margin: auto;
  }
  .contents01__img {
    width: 750px;
    top: -250px;
    left: 0;
    transform: none;
  }
  .contents01__subttl {
    position: absolute;
    left: 815px;
    top: -140px;
    padding: 0;
    text-align: center;
    font-size: 40px;
    letter-spacing: 3px;
  }
  .contents01__subttl__counts {
    padding: 0 0 0 32px;
    font-size: 70px;
    letter-spacing: 7px;
  }
  .contents01__txt {
    padding: 50px 0 0 824px;
  }
  .contents01__txt .en {
    letter-spacing: 5px;
  }
  /* 3 contents02 */
  .contents02__area {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    padding: 136px 0 306px;
  }
  .contents02__img--box01 {
    grid-row: span 2;
    grid-column: span 2;
  }
  .contents02__img--box02 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: -4;
  }
  .contents02__img--box03 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: -4;
  }
  .contents02__img--box04 {
    grid-row: span 2;
    grid-column-start: 4;
    grid-column-end: -3;
  }
  .contents02__img--box05 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 5;
    grid-column-end: -2;
  }
  .contents02__img--box06 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 6;
    grid-column-end: -1;
  }
  .contents02__img--box07 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: -2;
  }
  .contents02__img--box08 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 6;
    grid-column-end: -1;
  }
  .contents02__img--box09 {
    grid-row: span 2;
    grid-column: span 2;
  }
  .contents02__img--box10 {
    grid-row: span 2;
    grid-column-start: 3;
    grid-column-end: -4;
  }
  .contents02__img--box11 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: -3;
  }
  .contents02__img--box12 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: -3;
  }
  .contents02__img--box13 {
    grid-row: span 2;
    grid-column: span 2;
  }
  /* 4 contents03 */
  #contents03 {
    padding: 0 0 370px;
  }
  .contents03__kv {
    padding: 58px 0 294px;
  }
  .contents03__catch {
    width: 466px;
  }
  .contents03__wrap {
    background: #f2f5d9;
    width: 100%;
  }
  .contents03__area {
    position: relative;
    width: 1500px;
    margin: auto;
  }
  .contents03__img {
    position: absolute;
    width: 750px;
    top: -192px;
  }
  .contents03__txt {
    padding: 152px 0 173px 812px;
  }
  /* 5 contents04 */
  .contents04__area {
    padding: 0 0 38px;
    width: 664px;
    margin: auto;
  }
  .contents04__area .morebtn {
    top: -43px;
    right: 157px;
  }
  /* 6 contents05 */
  #contents05 {
    padding: 0 0 400px;
  }
  .contents05__ttl {
    display: none;
  }
  .contents05__insta {
    padding: 394px 0 0;
  }
  .contents05__insta--icon {
    width: 38px;
    margin: 0 auto 20px;
  }
  .contents05__insta--name {
    font-size: 20px;
    text-align: center;
    letter-spacing: 3px;
  }
  .contents05__area .morebtn {
    position: relative;
    top: 100px;
    left: 0;
    right: 0;
  }
  /* 7 footer */
  .footer {
    padding: 186px 0 0;
  }
  .footer__logo {
    width: 112px;
  }
  .footer__nav {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 160px 196px;
  }
  .footer__nav::after {
    display: none;
  }
  .footer__nav--list {
    font-size: 20px;
    letter-spacing: 4px;
  }
  .footer__info {
    display: flex;
    justify-content: flex-start;
    width: 1000px;
    padding: 36px 0 53px 69px;
    margin: auto;
  }
  .footer__info--box {
    padding: 0;
  }
  .footer__info--box:first-child {
    width: 294px;
  }
  .footer__info--icon {
    width: 26px;
  }
  .footer__info--link {
    font-size: 16px;
    letter-spacing: 3px;
  }
  .footer__info--list {
    padding: 0 0 0 40px;
  }
  .footer__cr {
    font-size: 14px;
  }
  /* 50 swiper */
  .swiper-btn {
    display: block;
  }
  .header .swiper-wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
  .header .swiper-container {
    width: 100%;
    height: 100%;
    overflow: visible !important;
    z-index: 1;
  }
  .swiper02 {
    height: 869px;
    padding: 71px 0 0;
  }
  .swiper02__box {
    margin: 0 0 0;
  }
  .swiper02__box--img {
    width: 400px;
    padding: 68px 0 0 50px;
    margin: auto;
  }
  .swiper02__box--info {
    position: relative;
    top: -300px;
    left: -24px;
    width: 350px;
    padding: 320px 30px 26px 50px;
    margin: auto;
  }
  .swiper02__box--ymd {
    padding: 0 0 50px;
    font-size: 20px;
    letter-spacing: 2.5px;
  }
  .swiper02__box--link {
    padding: 0 0 0 0;
    text-align: right;
    font-size: 14px;
    letter-spacing: 2px;
  }
  .swiper02__box--arrows {
    font-size: 12px;
  }
  .swiper-button-prev, .swiper-button-next {
    fill: #fff;
    stroke: none;
    stroke-width: 0;
    z-index: 10000;
    width: 20px;
    margin-top: -18px;
    background-image: none;
  }
  .swiper-button-prev02, .swiper-button-next02 {
    top: -18px;
    font-size: 20px;
  }
  .swiper-button-next02 {
    right: 0;
  }
  .swiper-button-prev02 {
    left: 0;
  }
  .swiper-arrows02 {
    width: 664px;
    margin: auto;
  }
  .swiper-arrows02::after {
    display: none;
  }
  .swiper-pagination-bullet-active {
    background: #fff;
  }
  /* 10 common */
  .common .header {
    background: #ffffff;
    padding: 328px 0 0;
  }
  .common .kv__ttl {
    width: 560px;
    padding: 0;
    margin: 200px auto 156px;
  }
  .common .intro__ttl {
    font-size: 28px;
  }
  .common .intro__txt {
    width: 800px;
    padding: 50px 0 0;
    margin: auto;
    font-size: 16px;
    line-height: 2.5;
  }
  /* 010 cmphoto */
  #cmphoto .header {
    background: #ffffff;
    padding: 328px 0 0;
  }
  #cmphoto .kv__ttl {
    width: 560px;
    padding: 0;
    margin: 200px auto 156px;
  }
  #cmphoto .intro {
    padding: 0 0 240px;
  }
  #cmphoto .intro__ttl {
    font-size: 28px;
  }
  #cmphoto .intro__txt {
    width: 800px;
    padding: 50px 0 0;
    margin: auto;
    font-size: 16px;
    line-height: 2.5;
  }
  #cmphoto .cmphoto {
    position: relative;
    width: 980px;
    padding: 0;
    margin: 0 auto;
  }
  #cmphoto .cmphoto:after {
    content: "";
    position: absolute;
    top: 0;
    left: 38px;
    border-left: 1px solid #000;
    height: 100%;
    z-index: -1;
  }
  #cmphoto .cmphoto__area {
    position: relative;
    padding: 0 0 88px;
  }
  #cmphoto .cmphoto__area--ttl {
    padding: 13px 0;
    font-size: 26px;
  }
  #cmphoto .cmphoto__area--img {
    width: 538px;
    padding: 0 0 0 120px;
  }
  #cmphoto .cmphoto__area--txt {
    position: absolute;
    right: 0;
    top: 70px;
    width: 380px;
    font-size: 16px;
    padding: 0;
    letter-spacing: 3px;
  }
  #cmphoto .cmphoto .btn__wrap {
    position: relative;
    width: 980px;
  }
  #cmphoto .cmphoto .btn__wrap .morebtn {
    position: absolute;
    right: 32px;
    top: -252px;
    width: 348px;
  }
  #cmphoto .cmphoto__outrotxt {
    padding: 40px 0;
    font-size: 26px;
  }
  /* 011 access */
  #access .kv__ttl {
    width: 274px;
    padding: 0;
  }
  #access .intro__txt {
    width: 780px;
  }
  #access .access__wrap {
    margin: 0 0 20%;
  }
  /* 020 contact */
  #contact .contact {
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
  }
  #contact .contact__ttl {
    width: 516px;
    padding: 0 0 0 200px;
  }
  #contact .contact__txt {
    width: calc(100% - 666px);
    margin: 0 0 0 150px;
    font-size: 18px;
    text-align: left;
    letter-spacing: 2px;
    line-height: 3;
  }
  #contact .contact__txt br {
    display: none;
  }
  #contact .contact .btn__wrap {
    margin: 140px 0 0;
  }
}
